@import "./color.module.scss";
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  padding: 1rem;
  background-color: $secondary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  border-bottom: 1px solid $primary-color;
  &-logo {
    font-size: 2rem;
    font-weight: bold;
  }
  &-menu-list {
    display: flex;
    list-style: none;
    font-size: 1.8rem;
    color: $text-color;
  }
  &-menu-item {
    padding-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
  }
  &-menu-link {
    padding: 1rem 0;
  }
  &-menu-item:not(:first-child) {
    margin-left: 2rem;
  }
  &-menu-item:hover {
    cursor: pointer;
    color: $primary-color;
    border-bottom: 3px solid $primary-color;
  }
  &-cta {
    display: flex;
  }
  // &-user {
  //   display: flex;
  //   align-items: stretch;
  //   justify-content: center;
  //   background-color: #c1c6c9;
  //   padding: 6px;
  //   border-radius: 1rem;
  // }
  &-user-info {
    font-size: 1.4rem;
  }
  &-user-avatar {
    border-radius: 50%;
    align-self: center;
  }
  &-auth-signout {
    color: #363e44;
    text-decoration: none;
    // border-radius: 2rem;
    font-weight: 500;
    // background-color: #363e44;
    font-size: 1.2rem;
  }
  // &-cta {
  //   margin-left: 1rem;
  //   display: flex;
  //   flex-direction: column;
  // }
  &-search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
    border: 2px solid #ccc;
    border-radius: 1rem;
    overflow: hidden;
  }
  &-search-input {
    padding: 1rem 4rem 1rem 1rem;
    margin-right: auto;
    display: block;
    border: none;
    font-size: 1.6rem;
  }
  &-search-input:focus {
    outline: none;
  }
  &-search-icon {
    position: absolute;
    right: 5px;
    cursor: pointer;
  }
  &-user {
    position: relative;
    padding: 3px;
    border: 1px solid $text-gray-color;
    border-radius: 10px;
    &-name {
      font-size: 1.1em;
      font-weight: 500;
      color: $text-color;
    }
    &-info {
      display: flex;
      align-items: center;
    }
    &:hover {
      background-color: $third-color;
      color: #fff;
    }
    &:hover &-menu {
      opacity: 1;
      visibility: visible;
    }

    &-menu {
      padding: 0;
      margin-top: 5px;
      position: absolute;
      list-style: none;
      top: 100%;
      width: 100%;
      height: auto;
      right: 0;
      background-color: $secondary-color;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s linear;
    }
    &-menu-item {
      position: relative;
      border: 1px solid transparent;
    }
    &-menu-item:first-child:after {
      content: "";
      position: absolute;
      background-color: transparent;
      border: 1rem solid $secondary-color;
      border-color: transparent transparent $secondary-color transparent;
      top: -2rem;
      right: 1rem;
    }
    &-menu::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1rem;
      background-color: transparent;
      top: -1rem;
      right: 0;
    }
    &-menu-item {
      padding: 1rem 1.5rem;
      font-size: 1.4rem;
      color: $text-color;
      font-weight: 500;
      cursor: pointer;
    }
    &-menu-link {
      width: 100%;
      display: block;
    }
    &-menu-item:hover {
      background-color: $third-color;
      border: 1px solid $primary-color;
      box-shadow: -3px 3px 6px $text-gray-color;
      color: #fff;
    }
    &-menu-item:first-child:hover::after {
      // background-color: $primary-color;
      border-bottom-color: $third-color;
    }
    &:hover &-menu::after {
      background-color: #363e44;
    }
  }
  &-shopping-cart {
    position: relative;
    transition: all 0.4s ease-in-out;
  }

  &-shopping-minicart {
    content: "";
    position: absolute;
    width: 30rem;
    top: 100%;
    right: 0;
    background-color: rgb(255, 253, 253);
    z-index: 999999;
    border-radius: 1rem;
    opacity: 0;
    visibility: hidden;
  }
  &-shopping-number {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $primary-color;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  &-shopping-cart:hover &-shopping-minicart {
    opacity: 1;
    visibility: visible;
  }
  &-auth {
    display: flex;
    align-items: center;
    justify-self: baseline;
  }
  &-auth-item {
    display: inline-block;
    min-width: 8rem;
    padding: 1.5rem 2rem;
    background-color: $primary-color;
    border-radius: 1rem;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  &-shopping-cart {
    cursor: pointer;
  }
}
.minicart {
  &-product-list {
    list-style: none;
    padding: 1rem;
  }
  &-product-item {
    list-style: none;
    padding: 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $primary-color;
  }
  &-product-info {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &-product-media {
    border: 1px solid $primary-color;
  }
  &-product-remove {
    margin-left: auto;
    border-bottom: 1px solid transparent;
  }
  &-product-remove:hover {
    margin-left: auto;
    border-bottom: 1px solid $primary-color;
  }
  &-product-name,
  &-product-quantity {
    font-size: 1.6rem;
    color: $text-gray-color;
  }
  &-product-price {
    font-size: 1.8rem;
    color: $primary-color;
    font-weight: 500;
  }
  &-footer {
    background-color: rgba($color: $primary-color, $alpha: 0.4);
    text-align: center;
  }
  &-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    &-label {
      margin-right: 2rem;
      font-size: 1.6rem;
      color: $text-color;
      font-weight: 400;
    }
    &-value {
      color: $primary-color;
      font-weight: 600;
    }
  }
  &-btn {
    padding: 1rem 1.5rem;
    display: inline-block;
    background-color: $primary-color;
    color: #fff;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }
  &-title {
    text-align: center;
  }
}
