@import "./color.module.scss";
.header {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  padding: 1rem;
  &-logo {
    font-size: 2rem;
    font-weight: bold;
  }
  &-menu-list {
    display: flex;
    list-style: none;
    font-size: 1.8rem;
    color: $text-color;
  }
  &-menu-item {
    padding-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
  }
  &-menu-link {
    padding: 1rem 0;
  }
  &-menu-item:not(:first-child) {
    margin-left: 2rem;
  }
  &-menu-item:hover {
    cursor: pointer;
    color: $primary-color;
    border-bottom: 3px solid $primary-color;
  }
  &-cta {
    display: flex;
  }
  // &-user {
  //   display: flex;
  //   align-items: stretch;
  //   justify-content: center;
  //   background-color: #c1c6c9;
  //   padding: 6px;
  //   border-radius: 1rem;
  // }
  &-user-info {
    font-size: 1.4rem;
  }
  &-user-avatar {
    border-radius: 50%;
    align-self: center;
  }
  &-auth-signout {
    color: #363e44;
    text-decoration: none;
    // border-radius: 2rem;
    font-weight: 500;
    // background-color: #363e44;
    font-size: 1.2rem;
  }
  // &-cta {
  //   margin-left: 1rem;
  //   display: flex;
  //   flex-direction: column;
  // }
  &-search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
    border: 2px solid #ccc;
    border-radius: 1rem;
    overflow: hidden;
  }
  &-search-input {
    padding: 1rem 4rem 1rem 1rem;
    margin-right: auto;
    display: block;
    border: none;
    font-size: 1.6rem;
  }
  &-search-input:focus {
    outline: none;
  }
  &-search-icon {
    position: absolute;
    right: 5px;
    cursor: pointer;
  }
  &-user {
    position: relative;

    &-info {
      display: flex;
      align-items: center;
    }
    &:hover &-menu {
      opacity: 1;
      visibility: visible;
    }

    &-menu {
      padding: 0;
      margin-top: 5px;
      position: absolute;
      list-style: none;
      top: 100%;
      width: 15rem;
      height: auto;
      right: 0;
      background-color: $secondary-color;
      z-index: 100;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s linear;
    }
    &-menu::after {
      content: "";
      position: absolute;

      background-color: transparent;
      border: 1rem solid $secondary-color;
      border-color: transparent transparent $secondary-color transparent;
      top: -20px;
      right: 1rem;
    }
    &-menu-item {
      padding: 1rem 1.5rem;
      font-size: 1.4rem;
      color: $text-color;
      font-weight: 500;
      cursor: pointer;
    }
    &-menu-link {
      width: 100%;
      display: block;
    }
    &-menu-item:hover {
      background-color: $third-color;
    }
  }
  &-auth {
    display: flex;
    align-items: center;
    justify-self: baseline;
  }
  &-auth-item {
    display: inline-block;
    min-width: 8rem;
    padding: 1.5rem 2rem;
    background-color: $primary-color;
    border-radius: 1rem;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  &-shopping-cart {
    cursor: pointer;
  }
}
