.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 1.5rem;
  align-content: center;
  margin: 0 auto;
}
.post-item {
  padding: 1rem;
  flex: 0 0 calc(30% - 2rem);
  &:hover {
    cursor: pointer;
  }
}
