@import "./color.module.scss";
.product {
  max-width: 140rem;
  margin: 0 auto;
  margin-top: 3rem;
  //product-options

  &-option-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  &-option-item {
    display: inline-block;
    padding: 1rem 1.5rem;
    border: 1px solid $secondary-color;
    border-radius: 1rem;
    font-size: 1.6rem;
    color: $text-color;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
  }
  &-option-item:not(:last-child) {
    margin-right: 1.5rem;
  }
  &-option-item:hover {
    cursor: pointer;
    background-color: $primary-color;
    color: #fff;
  }
  &-option-item .active {
    background-color: $primary-color;
    color: #fff;
  }
  //   product-list
  &-list {
    // width: 100%;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;

    margin-top: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 1.5rem;
    align-content: center;
  }

  &-item {
    border: 1px solid $secondary-color;
    position: relative;
    transition: all 0.5s ease-in;
  }

  &-item:hover {
    cursor: pointer;
    border-color: $primary-color;
    box-shadow: -5px 5px 6px $text-gray-color;
  }
  &-item:hover &-image {
    transform: scale(1.05);
  }
  &-item:hover &-cta {
    opacity: 1;
  }
  &-item:hover &-cta-list {
    transform: translateY(0px);
  }
  &-image {
    padding: 2rem;
    transition: all 0.3s ease-in;
  }
  &-status {
    display: inline-block;
    position: absolute;
    padding: 0.5rem 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: $third-color;
    border-radius: 2rem;
    font-weight: 500;
    color: #fff;
  }
  &-name {
    margin-top: 3rem;
    text-align: center;
    font-size: 1.8rem;
    color: $text-color;
  }
  &-price {
    font-size: 1.6rem;
    text-align: center;
    font-style: italic;
  }
  &-cta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(white, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;

    transition: all 0.5s ease-in;
  }
  &-cta-list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    transform: translateY(200px);
    padding: 0;
    transition: all 0.5s ease-in;
  }
  &-cta-link {
    display: flex;
    padding: 1rem;
    border-radius: 50%;
    background-color: $text-gray-color;
    color: #fff;
    align-items: center;
    justify-content: center;
  }
  &-cta-item:not(:first-child) {
    margin-left: 5px;
  }
  &-cta-link:hover {
    background-color: $primary-color;
    color: #fff;
  }
  //product sidebar
  &-left {
    flex: 0 0 calc(20% - 1rem);
  }
  &-right {
    flex: 0 0 calc(80% - 1rem);

    padding: 1.5rem;
  }
  &-category-item {
    font-size: 1.4rem;
    font-weight: 500;
    color: $text-color;
    cursor: pointer;
  }
  &-category-name {
    padding: 1rem 1.5rem;
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    color: $text-color;
    position: relative;
    z-index: 10;
    overflow: hidden;
  }
  &-category-name::after {
    border-top: 1px solid #f1eeea;
    content: "";
    display: inline-block;
    height: 1rem;
    margin-left: 5px;
    margin-right: -100%;
    vertical-align: bottom;
    width: 100%;
    z-index: 98;
  }
  &-container {
    display: flex;
    justify-content: space-between;
  }
  //Featured
  &-featured {
    &-list {
      margin-bottom: 2rem;
    }
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
    }
    &-item:not(:last-child) {
      margin-bottom: 2rem;
    }
    &-image {
      width: 30%;
      border: 1px solid $primary-color;
    }
    &-image img:hover {
      cursor: pointer;
      transform: scale(1.5);
    }
    &-image img {
      transition: all 0.3s ease-in-out;
    }
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 1.4rem;
      width: calc(70% - 2rem);
    }
    &-name {
      font-size: 1.6rem;
      font-weight: 500;
      color: $text-color;
      transition: all 0.3s ease-in-out;
    }
    &-name:hover {
      color: $primary-color;
    }
    &-price {
      color: $text-gray-color;
      font-style: italic;
    }
  }
}
.form-filter {
  &-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-btn {
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    outline: 0;
    border: 0;
    background-color: $primary-color;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 600;
  }
}
.form-filter-input {
  padding: 1rem;
  width: calc(50% - 2rem);
}
